page-serv-prod {

    .imgcard{
        width: 350px;
        align-self: center;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        padding: 0px;
    }

    .classbutton {
        background-color: lightgray;
    }

    

}
